.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    /* height: 800px; */
    width: 480px;

}

.row {
    /* border: 1px solid black; */
    flex-grow: 1;

    display: flex;
}

.grid {
    /* border: 1px solid black; */
    flex-grow: 1;
    width: 30px;
    height: 30px;
}

.grid:hover {
    background-color: gray;
}

.clicked {
    background-color: black;
}