.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    /* height: 800px; */
    width: 480px;
    height: 480px;

}

.row {
    flex-grow: 1;
    display: flex;
}

.grid {
    flex-grow: 1;
}

.grid:hover {
    background-color: gray;
}

.clicked {
    background-color: black;
}

button {
    margin: 14px 0;
}